/* 
    Document   : REDCSC
    Created on : 2012-10-31, 15:44:41
    Author     : Andrew Nolan
    Description:
        Red Color Scheme
*/

/* Page Background Color */

#carousel .flex-viewport,
.pageContentWrapper,
.homeWidgetModule,
.pageWidgetModule
{
    background: #e4e8ee;
}

/* Links Color */

a, a:visited {  color: #26a77b; }
a:hover, a:focus { color: #1b7a5a; }


/* Buttons Color */

.button-small-theme { background: #ec7e3b !important; }

/* Accent color */

a, a:visited {  color: #26a77b; }
a:hover, a:focus { color: #1b7a5a; }


.button-small-theme { background: #ec7e3b !important; }

.footerModule h2, 
.mainNav .active, 
.mainNav li a:hover, 
.flex-active-slide .navDescription, 
.pageInfo, 
.special li,
.pricing .price,
.special .description,
.postThumbDate,
.widget span a:hover,
.difficultyLevel
{
    background: #ec7e3b;
}
.footerModule h3, 
.slidesDescription, 
.pricing li,
.widget h3,
.classesInfo,
.contactForm

{
    border-left: 5px solid #ec7e3b;
}
.pricingTable .special .title {
       background: url(../../images/pricingBg.png) #ec7e3b top right no-repeat !important;
}
blockquote {
    border-left: 3px solid #ec7e3b;
}
.topBarActive {
    background-color: #ec7e3b !important;
    border-bottom: 1px solid #ec7e3b;
}
.contact:hover {
     background: url(../../images/mailIconLight.png) no-repeat 19px 16px #ec7e3b;
     border-bottom: 1px solid #ec7e3b;
}
.openingHours:hover  {
    background: url(../../images/openingHoursIconLight.png) no-repeat 19px 15px #ec7e3b;
    border-bottom: 1px solid #ec7e3b;
}
.mainNav li a:hover {
    border-right: 1px solid #ec7e3b;
}
.singleThumb img, .postThumb {
    border-bottom: 5px solid #ec7e3b;
}
.special .title {  background: url(../../images/pricingBg.png) #ec7e3b top right no-repeat;}